<div class="grid grid-cols-auto items-center gap-16">
  <p>Folge mir:</p>
  <ul class="list-none p-0 m-0">
    <li class="inline-block mr-16">
      <a
        class="no-underline text-black"
        href="/r/github"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="fa-brands fa-github"></span>
        <span>GitHub</span>
      </a>
    </li>
    <li class="inline-block mr-16">
      <a
        class="no-underline text-black"
        href="/r/mastodon"
        target="_blank"
        rel="me noopener noreferrer"
      >
        <span class="fa-brands fa-mastodon"></span>
        <span>Mastodon</span>
      </a>
    </li>
    <li class="inline-block">
      <a
        class="no-underline text-black"
        href="/r/keybase"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="fa-brands fa-keybase"></span>
        <span>Keybase</span>
      </a>
    </li>
  </ul>
</div>
