body {
  margin: 0 auto !important;
  padding: 12vmin 10vmin;
  max-width: 35em;
  line-height: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  color: #0563c1;
}

hr {
  border: 2px dashed #efefef;
}

/** Fonts **/
@import "fonts/fontawesome";

/** Utilities */
@import "utils";

/** Components */
@import "components/avatar";
